.About-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.about-page-heading {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.space-man img {
  z-index: -1;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 5%;
  animation: spaceman-moves 15s linear infinite;
}
@keyframes spaceman-moves {
  0% {
    top: 100px;
    right: 2%;
  }
  10% {
    top: 100px;
    right: 20%;
  }
  50% {
    top: 350px;
    right: 20%;
  }
  60% {
    top: 350px;
    right: 2%;
  }
  100% {
    top: 100px;
    right: 2%;
  }
}
.about-box div {
  border: 2px solid white;
  color: white;
  padding: 1rem;
  width: 50%;
  height: 45%;
  z-index: 3;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.6rem + 1.1vw);
  backdrop-filter: blur(4px);
  position: absolute;
  left: 10%;
  top: 9rem;
  font-style: italic;
  margin-top: 80px;
  transition: 1s all ease-in-out;
}

.row2 {
  position: absolute;
  top: 100%;
  width: 60%;
  height: 100%;
  color: white;
  font-size: calc(0.6rem + 1.1vw);
}
.skills-box {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}
.skills-box p {
  margin-top: 70px;
  margin-bottom: 70px;
}
.skills-png {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  font-weight: bold;
}
.skills-png div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-png div img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 2px solid white;
  padding: 20px;
  animation: skills-img-moves 3s linear infinite;
}
@keyframes skills-img-moves {
  0% {
    position: relative;
    left: 0px;
  }
  25% {
    position: relative;
    left: 5px;
  }
  50% {
    position: relative;
    left: 0px;
  }
  75% {
    position: relative;
    left: -5px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 5px;
  animation: nav-bar-anime 2s linear;
}
.nav-bar > p {
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 20px;
}
hr {
  height: 100px;
}

@keyframes nav-bar-anime {
  0% {
    bottom: -1000px;
  }

  100% {
    bottom: 0;
  }
}

@media (max-width: 650px) {
  .space-man img {
    height: 200px;
    position: absolute;
    top: 100px;
    right: 5%;
    animation: spaceman-moves 10s linear infinite;
  }
  @keyframes spaceman-moves {
    0% {
      top: 100px;
      right: 2%;
    }
    50% {
      top: 350px;
      right: 2%;
    }

    100% {
      top: 100px;
      right: 2%;
    }
  }
  .skills-png div img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  .skills-png {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    font-weight: bold;
  }
  .row2 {
    margin-top: -100px;
  }
  .about-box div {
    margin-top: 30px;
  }
  .about-page-heading {
    font-size: 40px;
  }
}
