.About-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.hidden {
  display: none;
}
.about-page-heading {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 60px;
}
.space-man img {
  z-index: -1;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 5%;
  animation: spaceman-moves 15s linear infinite;
}
@keyframes spaceman-moves {
  0% {
    top: 100px;
    right: 2%;
  }
  10% {
    top: 100px;
    right: 20%;
  }
  50% {
    top: 350px;
    right: 20%;
  }
  60% {
    top: 350px;
    right: 2%;
  }
  100% {
    top: 100px;
    right: 2%;
  }
}
.about-box div {
  border: 2px solid white;
  color: white;
  padding: 1rem;
  width: 50vw;
  height: 45vh;
  z-index: 3;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.6rem + 1.1vw);
  backdrop-filter: blur(4px);
  position: absolute;
  left: 10%;
  top: 10rem;
  font-style: italic;
  margin-top: 100px;
  transition: 1s all ease-in-out;
  border-radius: 20px;
}
.about-box div:hover {
  background-color: white;
  color: black;
  border: 2px solid black;

  outline: 2px solid white;
  outline-offset: 20px;
}

.row2 {
  margin-top: 150vh;
  width: 60%;
  font-size: calc(0.6rem + 1.3vw);
  color: white;
}
@media (max-width: 650px) {
  .space-man img {
    height: 200px;
    position: absolute;
    top: 100px;
    right: 5%;
    animation: spaceman-moves 10s linear infinite;
  }
  @keyframes spaceman-moves {
    0% {
      top: 100px;
      right: 2%;
    }
    50% {
      top: 350px;
      right: 2%;
    }

    100% {
      top: 100px;
      right: 2%;
    }
  }
  .row2 {
    margin-top: 120vh;
  }
}
