html,
body {
  margin: none;
  padding: none;
  text-align: center;
  overflow-x: hidden;
  /* background-color: antiquewhite; */
  position: relative;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.no-display {
  visibility: hidden;
}

.spinner-logo {
  animation: grow-loader 2s linear, spin 2s linear infinite;
  border-radius: 100%;
  padding: 1px;
  border: 8px solid black;
}

.loading-spinner p {
  animation: grow-loader 2s linear;
  font-size: 20px;
}
h2 {
  transition: all 0.5s ease-in;
}
h2:hover {
  /* font-size: 25px; */
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow-loader {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-spinner {
  cursor: pointer;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 250px;
  animation: move-loader2 0.7s linear;
}
.loading-spinner-off {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  animation: move-loader 0.7s linear;
}
@keyframes move-loader {
  0% {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 250px;
  }

  100% {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
  }
}
@keyframes move-loader2 {
  0% {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
  }

  100% {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 250px;
  }
}

/* Box */

.intro-box {
  width: 65%;
  border: 2px solid black;
  height: 150px;
  margin-top: -165px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-evenly;
  animation: grow 2s linear;
  z-index: -5;
}

@keyframes grow {
  0% {
    height: 0;
    visibility: hidden;
  }
  50% {
    height: 0;
    visibility: hidden;
  }
  100% {
    height: 150px;
    visibility: visible;
  }
}

.Profile-PNG {
  margin-top: -150px;
  height: 300px;
  width: auto;

  /* animation: prof-anim 2s linear; */
}
@keyframes prof-anim {
  0% {
    opacity: 0;
    height: 100px;
  }

  100% {
    opacity: 1;
    height: 300px;
  }
}

.work-heading {
  position: absolute;
  bottom: 1px;
  animation: move1 1s ease-in;
  visibility: visible;
  display: flex;
  max-width: 500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
@keyframes move1 {
  0% {
    position: absolute;
    bottom: -110px;
  }
  100% {
    position: absolute;
    bottom: 1px;
  }
}
.about-heading {
  margin-top: -80px;
  position: absolute;
  left: 1px;
  transform: rotate(-90deg);
  animation: move2 1s ease-in;
  visibility: visible;
  display: flex;
}
@keyframes move2 {
  0% {
    position: absolute;
    left: -110px;
  }
  100% {
    position: absolute;
    left: 1px;
  }
}
.contact-heading {
  margin-top: -100px;
  position: absolute;
  right: 1px;
  transform: rotate(90deg);
  animation: move3 1s ease-in;
  visibility: visible;
}
@keyframes move3 {
  0% {
    position: absolute;
    right: -110px;
  }
  100% {
    position: absolute;
    right: 1px;
  }
}
.grid-lines {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-line-1 {
  background-color: black;
  color: black;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  animation: black-screen 0.5s linear;
}
.grid-line-1-no-display {
  background-color: black;
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: -1500px;
  z-index: -2;
  /* animation: black-screen-inverse 0.5s linear; */
}

@keyframes black-screen {
  0% {
    left: -1500px;
  }

  100% {
    left: 0;
  }
}
@keyframes black-screen-inverse {
  0% {
    left: 0;
  }

  100% {
    left: 1500px;
  }
}
@media (max-width: 767px) {
  .intro-box {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-top: 150px;
    color: white;
    z-index: 2;
    border: none;
  }
  .intro-text {
    border: 1px solid white;
    padding: 35px;
  }
  .intro-img {
    border: 1px solid black;
  }
}

.contact-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: contact-bar-anime 2s linear;
}
.contact-bar > * {
  margin-bottom: 20px;
}
hr {
  height: 100px;
}

@keyframes contact-bar-anime {
  0% {
    bottom: -1000px;
  }

  100% {
    bottom: 0;
  }
}
