.spinner-in-work {
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  position: fixed;
  right: 30px;
  top: 30px;
}
.Project-Page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.project-page-heading {
  font-size: 50px;
  color: white;
  margin-top: -200px;
  margin-bottom: 70px;
}
.projects-parent {
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 50px;
  margin-top: -5px;
}
.projects {
  z-index: 10;
  height: auto;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 20px;
  cursor: pointer;
  border-radius: 0 40px 0 40px;
}
.projects > img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.Project-Descr {
  width: 100%;
  height: auto;
  margin-top: -10px;
  color: black;
}
.Project-Descr > .para {
  color: black;
  background-color: white;
  padding: 20px;
}
.projects > h1 {
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
}
ul {
  padding: 0;
}
@media (max-width: 550px) {
  .projects {
    width: 60%;
  }
}
