.about {
  padding: 6rem 0;
  background-color: #f7f7f7;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  flex-basis: 50%;
}

.about__heading {
  font-size: 3rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 2rem;
}

.about__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.about__skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.about__skills li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.about__image {
  flex-basis: 40%;
}

.about__image img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}
