/* html,
body {
  margin: none;
  padding: none;
  text-align: center;
  overflow-x: hidden;
  background-color: antiquewhite;
  /* background-color: grey; */
/* color: white; */
* {
  -webkit-tap-highlight-color: transparent;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.r-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 5px;
  animation: logo-anim 2s linear;
}
@keyframes logo-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
